.contacs{
	.container-xxl {
		margin-top: 11.375rem;
	}
	.contacs-img {
		background: $dark-blue;
		height: 26.25rem;
	}
	h1 {
		padding-bottom: 5.75rem;
	}
	.icon-whatsap, .icon-telegram {
		font-size: 1rem;
		padding: 0.5rem;
		background: $blue;
		border-radius: 50%;
		color: $white;
	}
	ul {
    padding-left: 0;
	}
	.contacts-text, a{
		font-size: 1.25rem;
		font-weight: 700;
		color: $grey;
	}
}

