@media(max-width: 1200px) {
	.navbar-collapse {
		transition: all .6s ease-in;
	}
	.navbar-toggler-icon {
    		background-image: url('../../img/header/burger.svg');
    		transition: all 0.7s ease-out;
		}
	.navbar-toggler:not(.collapsed) {
		.navbar-toggler-icon {
    		background-image: url('../../img/header/burger-active.svg');
		}

	}
	.deskription-number {
		padding-bottom: 5rem;
		
	}
	.up {
		padding-top: 5rem;
	}
	.contacs {
		font-size: 1.25rem;
		font-weight: 700;
		color: $blue;
		a, .number {
			color: $blue;
			font-size: 1.25rem;
		}
	}
	.cert {
		.text {
		font-size: 0.75rem;
		}
	.border {
	    padding: 2rem 1.25rem;
		}
	}
	.explorer {
	p {
    font-size: 1rem;
		}
	}
	.stages {
		.tab-pane {
    		padding: 1rem 1rem 2rem;
		}
		.nav-pills {
		&::before {
			display: none;
			}
		}
	}
 .form {
 	.down.row > * {
    padding-top: 4rem;
		}
		.circle {
		    margin-top: -22rem;
		    margin-left: 4rem;
		}
		.cube img {
		   margin-right: 0; 
		}
	}
}
@media(max-width: 1050px) {
	ol, ul {
    padding-left: 1rem;
	}
	body {
		  font-size: 0.75rem;
		}
	h1 {
		font-size: 1.875rem;
	}
	h2 {
		font-size: 1rem;
	}
	h3 {
		font-size: 0.875rem;
	}
	.trigger {
		h2 {
			max-width: 21.875rem;
		}
		h3 {
			max-width: 18.75rem;
		}
		.btn {
    		margin-top: 3.375rem;
		}
		.container-xxl {
    		margin-top: 8.625rem;
		}
		img {
		    margin-top: -4rem;
		    margin-left: -16rem;
		}
	}
	.whatget {
    margin-top: 4rem;
	}
	.explorer {
	p {
    font-size: 0.825rem;
		}
	}
	.stages {
    margin-top: 1rem;
	}
	.image {
    margin: 3rem 0;
	}
	.footer {
	    margin-top: 3rem;
	    .big-text {
	    font-size: 1.875rem;
			}
			h1 {
			    margin-top: 2.625rem;
			}
	}
	/* price */
	.price {
	.indent {
    padding: 2.25rem 0 3.125rem;
 	}
 	.container-xxl {

		background: url('../../img/price/price-bg-md.png') no-repeat center 5%;
		background-color: $blue;
	}
 }
}

@media(max-width: 768px) {
		h1 {
			font-size: 1.125rem;
		}
		h2 {
			font-size: 0.75rem;
		}
		.btn {
		    font-size: 0.75rem;
		}
		h3 {
			font-size: 0.75rem;
		}
	.trigger {

		img {
		    
		    margin: 0 auto;
		    text-align: center;
			}
		h1 {
			margin-top: -24rem;
		}
		.container-xxl {
		    margin-top: 2.625rem;
		}
		h2, h3 {
			max-width: 100%;
		}
		h2 {
			padding-top: 13rem;
		}
		.icon-arrow-down {
		    margin-top: 0rem;
		}
	}
	.up {
    padding-top: 3rem;
	}
	.deskription-number {
		padding-bottom: 3rem;
	}
	.internet-shop {
		.card {
	    padding: 0rem 1rem 2rem 1rem;
		}
	}
	.whatget {
	li::before {
	top: 0.5rem;
	left: -0.825rem;
		}
	}
	.cert {
		.slider-item {
		    text-align: center;
		    margin: 0 0.5rem;
		}
	}
	.stages {
		.tab-title {
    		font-size: 1rem;
		}
	}
	
	.form {
		.callback {
		    padding: 1.5rem 1rem 1.5rem;
		}
		.cylinder {
		    margin-top: -32rem;
		}
	}
	.footer {
		h1 {
		    margin-top: 1.5rem;
		}
		.big-text {
		    font-size: 1.25rem;
		}
		.text {
		    font-size: 0.875rem;
		}
		.copy {
		    font-size: 0.75rem;
		}
	}
	.price {
 	.container-xxl {
		background: url('../../img/price/price-bg-sm.png') no-repeat center 15%;
		background-color: $blue;
	}
 }
}