.price {
	.container-xxl {
		margin-top: 11.375rem;
		border-radius: 1.25rem;
		color: $white;
		background: url('../../img/price/price-bg.png') no-repeat top center;
		background-color: $blue;
	}
	.indent {
		padding: 2.25rem 2.25rem 3.125rem;
	}
	.card-price {
		background: $white;
		border-radius: 0.625rem;
		.card-title {
			color: $grey;
		}
		h5 {
			color: $dark-blue;
			padding-left: 0;
		}
		.cost {
			font-size: 1.125rem;
			color: $dark-blue;
			span{
				font-weight: 700;
				font-size: 1.5rem;
			}
		}
		.card-up {
			border-bottom: 2px dashed $blue;
			position: relative;
			&::after {
				content: ''; 
			    position: absolute; /* Абсолютное позиционирование */
			    left: -1px; 
			    bottom: -13px; /* Положение треугольника */
			    border: 0.75rem solid transparent; 
			    border-left: 1rem solid $blue;
			}
			&::before {
				content: ''; 
			    position: absolute; /* Абсолютное позиционирование */
			    right: -1px; 
			    bottom: -13px; /* Положение треугольника */
			    border: 0.75rem solid transparent; 
			    border-right: 1rem solid $blue;
			}
		}
		ul {
			color: $dark-blue;
			font-size: 0.875rem;
			padding-left: 3.5rem;
			padding-right: 0.75rem;
			li {
				position: relative;
				padding-bottom: 0.75rem;
				&::before {
					position: absolute;
					content: "";
					width: 0.5rem;
					height: 0.5rem;
					border-radius: 50%;
					background: $blue;
					top: 0.425rem;
					left: -1.325rem;
				}
			}
		}

	}
	.btn {
		background: $green;
	}
	.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
	}
	.accordion-button:not(.collapsed) {
    color: none;
    background-color: transparent;
    box-shadow: none;
	}
	.accordion-button {
		position: absolute;
		top: 50%;
		left: 0;
    	background-color: transparent;
    }
    .accordion-item {
    border: none;
	}
	.accordion-body {
    padding: 0;
}
}


