@import 'style-common';
@import 'style-header';
/* main */

.trigger {
	.container-xxl {
		margin-top: 11.375rem;
	}

	.btn {
		margin-top: 7.25rem;
	}
	img {
		margin-top: -10rem;
		margin-left: -14rem;
	}
	h3 {
		max-width: 29.5rem;
	}
	.icon-arrow-down {
		margin-top: -7rem;
	}
}

.internet-shop {
	.card {
		.number-card {
		font-size: 4rem;
		color: $white;
		text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
		}
		.title-card {
		font-weight: 700;
		border-bottom: 2px solid $red;
		width: 60%;
		}
		box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.15);
		border-radius: 0.625rem;
		border: none;
		padding: 0.5rem 2rem 2rem 1rem;
		margin: 1rem 0;
		cursor: pointer;
		transition: all .6s ease;
		&:hover {
			background: $red;
			color: $white;
			.title-card {
				border-bottom: 2px solid $white;
			}
		}
	}

}

.whatget {
	margin-top: 9rem;
	li::before {
	position: absolute;
	content: '';
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background: $dark-blue;
	top: 0.5rem;
	left: -1rem;
	}
}

.cert {
	margin-top: 9rem;

	.border {
		background: $orange;
		border-radius: 0.625rem;
		padding: 1.625rem 2.25rem;
	}
	.line {
		border: 1px solid $white !important;
		border-radius: 0.625rem;
	}
	.text {
		font-size: 0.875rem;
		font-weight: 700;
		div {
			color: $grey;
		}
	}
	.slider {
    position: relative;
	}
	.slider-item {
    text-align: center;
    margin: 0 0.75rem;

	}
	.slick-track{
    display: flex;  /*block для вертикального слайдера*/
	}
	.slick-dots li button{
    font-size: 0;
    width: 1.25rem;
    height: 1rem;
    background: $lite-grey;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
	}
	.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
	}
	.slick-dots li {
	    list-style: none;
	    margin: 0 0.5rem;
	}
	/* Активная точка */
	.slick-dots li.slick-active button {
	    width: 2.5rem;
	    height: 1rem;
	    border-radius: 0.5rem;
	    background: $blue;
	}
	.img-down {
		padding-bottom: 4.5rem;
	}
}

.explorer {
	margin-top: 9rem;
	p {
		font-size: 1.25rem;
	}
}


.stages {
	margin-top: 9rem;
	.nav-pills {
		&::before {
			content: "";
			width: 2px;
			height: 85%;
			top: 0.5rem;
			background: $lite-grey;
			position: absolute;
			left: 2%;

		}
	}
	.nav-link {
		font-size: 1.25rem;
		font-weight: 600;
		color: $dark-blue;
		padding-left: 4rem;
		&::before {
				content: "";
				position: absolute;
				width: 1.5rem;
				height: 1.5rem;
				border-radius: 50%;
				background: $lite-grey;
				left: 0;
			}
		&.active {
			color: $blue;
			background-color: transparent;
			&::before {
				content: "";
				position: absolute;
				width: 1.5rem;
				height: 1.5rem;
				border-radius: 50%;
				background: $blue;
				left: 0;
			}
		}
	} 
	.tab-title {
		font-size: 1.5rem;
		font-weight: 700;
		.tab-number {
			padding: 0.75rem 1.6rem;
			border-radius: 50%;
			background: $green;
			color: $white;
		}
	}
	.tab-pane {
		padding: 2.125rem 2.625rem 5.875rem;
		box-shadow: 0px 0.625rem 3.75rem rgba(42, 35, 103, 0.15);
		border-radius: 0.625rem;
		hr {
			color: $lite-grey;
		}
		p {
			text-align: start;
			font-size: 1.25rem;
		}
	}
}

.image {
	background: url('../../img/image/bg.jpg') no-repeat center center;
	background-size: cover;
	margin: 9rem 0;
	padding: 20rem 0;
}


.form {
	.container-xxl {
		background: $blue-lite;
		border-radius: 1.25rem;
	}
	p {
		font-size: 1.25rem;
	}
	.up {
		padding: 4.5rem 0 4rem;

	}
	
	h1 {
		line-height: 4rem;
	}
	.callback {
		background: $blue;
		border-radius: 1.25rem;
		padding: 3.5rem 4rem 3rem;
		p {
		color: $white;
		font-size: 0.875rem;
	}
	}
	h4 {
		color: $white;
	}
	
	input[type="text"] {
		font-size: 1.5rem;
		color: $white;
		width: 100%;
		border-bottom: 0.125rem solid $violet;
	}
	input[type="text"]::-webkit-input-placeholder {
	    color: $violet;
	    font-size: 1.125rem;
	    font-weight: 400;
	} 
   input[type="text"]::-moz-placeholder {
	    color: $violet;
	    font-size: 1.125rem;
	    font-weight: 400;
   }
   .btn {
   	background: $white;
   	color: $blue;
   	&:hover {
   		background: $dark-blue;
   		color: $white;
   	}
   }
   .form-check {
   	font-size: 0.9375rem;
   }
   .form-check-input {
   	background: transparent;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.125rem;
    border: 1px solid $violet;
   }
   .form-check-input:checked {
    background-color: $violet;
    border-color: $violet;
	}
	.form-check-label {
		color: $white;
		span {
			color: $violet;
		}
	}
	.down {
		margin-top: -2rem;
		padding-left: 0;
		&.row>* {
			padding-left: 0;
		}
	}

	.cube {
		img {
		margin-top: 9rem;
		right: 0;
	}
	}

	.tringle {
		top: -8%;
		left: 30%;
	}
	.cylinder {
		right: 1%;
		top: 38%;
	}
}

@import 'style-footer';
@import 'style-price';
@import 'contacs-style';
@import 'style-adaptive';
@import 'style-modal-phone';