$dark-blue: #2A2367;
$blue: #6B5AF9;
$white: #ffffff;
$grey: #707070;
$red: #E37575;
$orange: #F0D577;
$lite-grey: #BDBDBD;
$green: #43CD93;
$blue-lite: #F4F8FF;
$violet: #9B8FFF;
$grey-violet: #9895B4;
$blue-hover: #7A6AFF;

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #2A2367;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #2A2367;
}

.btn {
  font-size: 0.875rem;
  padding: 1.375rem 5rem;
  background: #6B5AF9;
  border-radius: 0.3125rem;
  color: #ffffff;
  font-weight: 800;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn:hover {
  background: $blue-hover;
  color: $white;
}

h1 {
	font-size: 2.375rem;
	font-weight: 700;
	span {
		color: $blue;
	}
}

h2 {
	font-size: 1.125rem;
	font-weight: 400;
	span {
		color: $blue;
		font-weight: 700;
	}
}

h3 {
	font-size: 1rem;
	span {
		color: $blue;
	} 
}
h4 {
	font-size: 1.625rem;
	font-weight: 700;
}

h5 {
	font-size: 1.25rem;
	font-weight: 700;
	margin: 0 auto;
}

li {
	list-style-type: none;
	position: relative;
}

ol, ul {
    padding-left: 1.325rem;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input[type="text"] {
		font-size: 1rem;
		background: transparent;
		color: $dark-blue;
		width: 100%;
		border: none;
		border-bottom: 0.125rem solid $grey-violet;
	}
	input[type="text"]::-webkit-input-placeholder {
	    color: $grey-violet;
	    font-size: 0.75rem;
	    font-weight: 700;
	} 
   input[type="text"]::-moz-placeholder {
    color: $grey-violet;
    font-size: 0.75rem;
    font-weight: 700;
   }

